* {
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
}

.container {
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2,100px);
    z-index: 1;
}

.box {
    height: 100px;
    width: 100px;
    transition: all 0.8s ease-in;
}

.box1 {
    background: steelblue;

}
.container:hover .box1 {
    transform: translateX(20px) rotate(90deg);
    transform-origin: top left;   
}

.box2 {
    background: dimgray;
}

.container:hover .box2 {
    transform: translateX(-20px) rotate(-90deg);
    transform-origin: top right;   
}

.box3{
background: yellow;
}

.container:hover .box3 {
    transform: translateX(20px) rotate(-90deg);
    transform-origin: bottom left;   
}

.box4 {
    background: rosybrown;
}

.container:hover .box4 {
    transform: translateX(-20px) rotate(90deg);
    transform-origin: bottom right;   
}


















/* background: steelblue;
transform: rotate(90deg);
transition: left;
transform-origin: top left; */